_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-includes/*
wp-admin/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mysql.sql

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

*.log

*.mo

*.po
wp-content/themes/twentyfifteen/404.php
wp-content/themes/twentyfifteen/archive.php
wp-content/themes/twentyfifteen/author-bio.php
wp-content/themes/twentyfifteen/comments.php
wp-content/themes/twentyfifteen/content-link.php
wp-content/themes/twentyfifteen/content-none.php
wp-content/themes/twentyfifteen/content-page.php
wp-content/themes/twentyfifteen/content-search.php
wp-content/themes/twentyfifteen/content.php
wp-content/themes/twentyfifteen/footer.php
wp-content/themes/twentyfifteen/functions.php
wp-content/themes/twentyfifteen/header.php
wp-content/themes/twentyfifteen/image.php
wp-content/themes/twentyfifteen/index.php
wp-content/themes/twentyfifteen/page.php
wp-content/themes/twentyfifteen/readme.txt
wp-content/themes/twentyfifteen/rtl.css
wp-content/themes/twentyfifteen/screenshot.png
wp-content/themes/twentyfifteen/search.php
wp-content/themes/twentyfifteen/sidebar.php
wp-content/themes/twentyfifteen/single.php
wp-content/themes/twentyfifteen/style.css
wp-content/themes/twentyfifteen/css/editor-style.css
wp-content/themes/twentyfifteen/css/ie.css
wp-content/themes/twentyfifteen/css/ie7.css
wp-content/themes/twentyfifteen/genericons/COPYING.txt
wp-content/themes/twentyfifteen/genericons/example.html
wp-content/themes/twentyfifteen/genericons/genericons.css
wp-content/themes/twentyfifteen/genericons/Genericons.eot
wp-content/themes/twentyfifteen/genericons/Genericons.svg
wp-content/themes/twentyfifteen/genericons/Genericons.ttf
wp-content/themes/twentyfifteen/genericons/Genericons.woff
wp-content/themes/twentyfifteen/genericons/LICENSE.txt
wp-content/themes/twentyfifteen/genericons/README.md
wp-content/themes/twentyfifteen/inc/back-compat.php
wp-content/themes/twentyfifteen/inc/custom-header.php
wp-content/themes/twentyfifteen/inc/customizer.php
wp-content/themes/twentyfifteen/inc/template-tags.php
wp-content/themes/twentyfifteen/js/color-scheme-control.js
wp-content/themes/twentyfifteen/js/customize-preview.js
wp-content/themes/twentyfifteen/js/functions.js
wp-content/themes/twentyfifteen/js/html5.js
wp-content/themes/twentyfifteen/js/keyboard-image-navigation.js
wp-content/themes/twentyfifteen/js/skip-link-focus-fix.js
wp-content/themes/twentyfifteen/languages/twentyfifteen.pot
wp-comments-post.php
wp-config-sample.php
wp-login.php
wp-signup.php
wp-trackback.php
