# PhpStorm
.idea
.DS_*
._DS_*

# Application
web/app/languages
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Theme
web/app/themes/ppo/dist
web/app/themes/ppo/node_modules
web/app/themes/ppo/npm-debug.log

# Database dumps
*.sql
