
/*====================================================*/
/* FILE /sedlex/inline_styles/78e68eae044ac0f29c25992f48bd43d0a9199eae.css*/
/*====================================================*/
.shorten_url { 
	padding: 10px 10px 10px 10px ; 
	border: 1px solid #AAAAAA ; 
	background-color: #EEEEEE ; 
}
