/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/* Define colours */

/*

   var. 1 = #CA1B00 = rgb(202,27,0)
   var. 2 = #983526 = rgb(152,53,38)
   var. 3 = #831200 = rgb(131,18,0)
   var. 4 = #E45039 = rgb(228,80,57)
   var. 5 = #E47867 = rgb(228,120,103)

*/

@ppo-red: #CA1C00;
@ppo-dark: #831200; 

/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* ==========================================================================
   Header
   ========================================================================== */

.banner { 
    background-color: @ppo-red; min-height: 130px;float: left;width: 100%;
    .nav-container {
        background-color: @ppo-dark;
    }
    .container {
        /*max-width: @container-desktop;*/
    }
    a.brand {
        line-height: 130px; margin: 0 5px; width: 100%; margin-right: -79px;
        img {
            max-width: 100%;padding-right: 79px;
        }
    }
    /*.navbar-collapse { clear: both; }*/
}
/*ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }*/
/*.nav .dropdown-toggle .caret { display:none; }*/

.menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: @zindex-dropdown;
    >ul>li {
        float: left;
        min-height: 130px;
        font-size: 13px;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        display: table;
        position: relative;
        overflow: hidden;
    }
}

.navbar-nav>li {
    width: 14.28%;
}
.mp-pusher {
    .navbar-nav>li {
        width: auto;
        position: initial;
        a {
            position: initial;
        }
    }
}

.dropdown-menu {
    display: block;
    width: 100%;
    /*max-width: 972px;*/
    margin: 0 auto;
    float: none;
    overflow: hidden;
    >li>a, >li>.submenu-title {
        white-space: normal;
        padding: 5px;
    }
    padding: 0;
    .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
        background-color: rgba(245,245,245,0.8);
        color: #b00c00;
    }
}

nav>ul>li>.menu-container>ul>li {
    >a, >.submenu-title {
        font-weight: bold;
        color: #b00c00;
    }
    >.menu-container {
        display: block;
        position: initial;
        border: none;
        >ul {
            border: none;
            box-shadow: none;
            background: transparent;
            >li {
                border: none;
            }
        }
    }
}

.navbar-default .navbar-nav>.active>a {
    background-color: #ca1c00;
    color: white;
}

// Menu icons/bg
.dropdown-menu>li:after {
    content: "";
    display: block;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.025;
    position: absolute;
    top: 0;
    left: 55%;
    width: 50%;
    height: 100%;
    pointer-events: none;
}
.icon-cogs:after     { background-image: url('../icons/cogs.svg'); }
.icon-people:after   { background-image: url('../icons/people.svg'); }
.icon-list:after     { background-image: url('../icons/terms.svg'); }
.icon-eye:after      { background-image: url('../icons/vision.svg'); }
.icon-search:after   { background-image: url('../icons/search.svg'); }
.icon-question:after { background-image: url('../icons/question.svg'); }
.icon-disc:after     { background-image: url('../icons/disc.svg'); }

// Sets dynamic width of megamenu items 
/*@max-menuitems: 8;
.for-loop (@index) when (@index > 0) {
    .dropdown-menu>li:first-child:nth-last-child(@{index}),
    .dropdown-menu>li:first-child:nth-last-child(@{index}) ~ li {
        width: 100% / @index;
    }

    .for-loop(@index - 1);
}
.for-loop(0) {}
.for-loop(@max-menuitems);*/

.dropdown-menu>li:first-child:nth-last-child(1),
.dropdown-menu>li:first-child:nth-last-child(1) ~ li {
    width: 100%;
    border: none;
}

.dropdown-menu>li:first-child:nth-last-child(2),
.dropdown-menu>li:first-child:nth-last-child(2) ~ li {
    width: 50%;
}

.dropdown-menu>li:first-child:nth-last-child(4),
.dropdown-menu>li:first-child:nth-last-child(4) ~ li,
.dropdown-menu>li:first-child:nth-last-child(8),
.dropdown-menu>li:first-child:nth-last-child(8) ~ li {
    width: 25%;
}

.dropdown-menu>li:first-child:nth-last-child(5),
.dropdown-menu>li:first-child:nth-last-child(5) ~ li {
    width: 20%;
}

.dropdown-menu>li:first-child:nth-last-child(3),
.dropdown-menu>li:first-child:nth-last-child(3) ~ li,
.dropdown-menu>li:first-child:nth-last-child(6),
.dropdown-menu>li:first-child:nth-last-child(6) ~ li,
.dropdown-menu>li:first-child:nth-last-child(9),
.dropdown-menu>li:first-child:nth-last-child(9) ~ li {
    width: 33.3%;
}

.dropdown-menu>li:first-child:nth-last-child(2) ~ li:nth-child(2n),
.dropdown-menu>li:first-child:nth-last-child(3) ~ li:nth-child(3n),
.dropdown-menu>li:first-child:nth-last-child(4) ~ li:nth-child(4n),
.dropdown-menu>li:first-child:nth-last-child(5) ~ li:nth-child(5n),
.dropdown-menu>li:first-child:nth-last-child(6) ~ li:nth-child(3n),
.dropdown-menu>li:first-child:nth-last-child(8) ~ li:nth-child(4n),
.dropdown-menu>li:first-child:nth-last-child(9) ~ li:nth-child(3n) {
    border-right: none;
}

.dropdown-menu>.dropdown>.menu-container>.dropdown-menu>li {
    width: 100%;
    min-height: initial;
    a {
        padding-left: 15px;
    }
}

.dropdown-menu>li:first-child:nth-last-child(4) ~ li:after {
    background-size: 200%;
    left: 50%;
    width: 50%;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { 
    /*max-width: @container-desktop;*/
    margin: 0 auto;
    .row { margin-right: 0; }
    .child-pages {
        background-color: @gray-lighter; padding: 15px; overflow: hidden;
        li {
            list-style: none; padding: 0; float: left; width: 100%; margin: 5px 0;
            p {
                margin: 0; line-height: 14px;
            }
        }
    }
}

.home {
    .search-form {
        padding: 15px; background-color: #ca1c00; margin: 20px -15px;
    }
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
    a { font-weight: bold; }

    /* Home page */
    #whats-new {
        background-color: @gray-lighter; padding: 15px; margin: 20px 0 0;
        h2 { margin-top: 0; }
        ul { 
            margin-bottom: 0; list-style: none; padding: 0;
            li { margin: 5px 0; }
        }
    }

    #ppo-info, #quick-links {
        ul { 
            margin-bottom: 0; list-style: none; padding: 0;
            li { margin: 5px 0; }
        }
    }
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

/* Site Map */
.wsp-pages-list {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    li {
        padding-bottom: 5px;
        list-style: none;
        > ul {
            padding-left: 15px;
            > li {
                list-style: none;
                :before {
                    content: "- ";
                }
                a {
                    font-weight: normal;
                }
            }
        }
    }
}

/* FAQ Accordions */
#faq-accordion {
    h5 {
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
}

/* Filelist */
section.filelist {
    header {
        margin-bottom: 10px;
    }
    ul {
        padding: 0; margin: 0;
        li {
            list-style: none;;
        }
    }
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
    .widget_ppo_related_docs, .widget_ppo_quick_links {
        list-style: none;
    }
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

/* ==========================================================================
   Footer
   ========================================================================== */

.tile-container {
    clear: both;
    article {
        float: left;
        margin: 10px;
        border: 10px solid #eee;
        border-right: 5px solid #eee;
        .tile-image {
            float: left;
        }
        .tile-details {
            width: 81px;
            height: 259px;
            float: left;
            background-color: #eee;
            padding: 4px;
            letter-spacing: -1px;
            position: relative;
            text-align: right;
            h3 {
                margin-top: 0;
                font-size: 15px;
                line-height: 18px;
                color: #888;
            }
            h4 {
                padding: 5px 0;
                font-size: 13px;
                color: #aaa;
            }
            .tile-size {
                font-size: 11px;
                font-weight: bold;
                position: absolute;
                bottom: 0;
                right: 0;
                color: #aaa;
            }
        }
    }
}

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { 
    padding: 0; background-color: @ppo-dark; font-size: @font-size-small; margin-top: 25px;
    a {
        color: white;
    }
    a:hover {
        color: white;
    }
    .row {
        margin: 0 auto;
        /*max-width: @container-desktop;*/
    }
}

#menu-footer-navigation {
    text-align: center;
    >li {
        float: none;
        display: inline-block;
    }
}

/* ==========================================================================
   Sort/Filter controls
   ========================================================================== */
.sort-control {
    background-color: #eee;
    padding: 15px;
    float: left;
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { 
    /*.banner {position: relative; top: auto; }*/
    .wsp-pages-list {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
    .content {
        .child-pages {
            li { width: 50%;}
        }
    }
    .navbar-nav {
        /*width: @container-desktop;*/
        margin: 0 auto;
        >li>a {
            text-align: center;
            width: 150px;
            margin: 0 auto;
        }
    }
    .nav-container {
        position: fixed; top: 0; width: 100%;
    }
    .navbar-header {
        margin-top: 70px;
    }
    #menu-footer-navigation {
        text-align: left;
        >li {
            float: left;
            display: block;
        }
    }
    .sidebar {
        margin-top: 20px;
    }
}

@media (min-width: @screen-md-min) { 
}

@media (min-width: @screen-lg-min) { 
}