/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/* Define colours */

/*

   var. 1 = #CA1B00 = rgb(202,27,0)
   var. 2 = #983526 = rgb(152,53,38)
   var. 3 = #831200 = rgb(131,18,0)
   var. 4 = #E45039 = rgb(228,80,57)
   var. 5 = #E47867 = rgb(228,120,103)

*/

@ppo-red: #CA1C00;
@ppo-dark: #831200; 

/* ==========================================================================
   Base
   ========================================================================== */

body { }

.highlight {
    background-color: yellow;
    font-weight: bold;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { 
    background-color: @ppo-red;float: left;width: 100%;
    .nav-container {
        background-color: @ppo-dark;
        position: fixed;
        top: 0;
        min-height: 70px;
    }
    .container {
        /*max-width: @container-desktop;*/
    }
    a.brand {
        line-height: 70px; margin: 0 5px; width: auto; position: absolute; left: 0; top: 0; text-align: center;
        img {
            max-width: 100%;padding: 10px;max-height: 70px; 
        }
    }
    /*.navbar-collapse { clear: both; }*/
}
/*ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }*/
/*.nav .dropdown-toggle .caret { display:none; }*/

.navbar {
    min-height: 70px;
}
.navbar-toggle {
    margin-top: 18px;
    margin-bottom: 18px;
}

.menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: @zindex-dropdown;
    >ul>li {
        float: left;
        min-height: 130px;
        font-size: 13px;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        display: table;
        position: relative;
        overflow: hidden;
    }
}

.navbar-nav>li {
    width: 20%;
}
nav.collapse.navbar-collapse {
    margin-left: 15%;
}
.mp-pusher {
    .navbar-nav>li {
        width: auto;
        position: initial;
        a {
            position: initial;
        }
    }
}

.dropdown-menu {
    display: block;
    width: 100%;
    /*max-width: 972px;*/
    margin: 0 auto;
    float: none;
    overflow: hidden;
    >li>a, >li>.submenu-title {
        white-space: normal;
        padding: 5px;
    }
    padding: 0;
    .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
        background-color: rgba(245,245,245,0.8);
        color: @ppo-red;
    }
}

nav>ul>li>.menu-container>ul>li {
    >a, >.submenu-title {
        font-weight: bold;
        color: @ppo-red;
    }
    >.menu-container {
        display: block;
        position: initial;
        border: none;
        >ul {
            border: none;
            box-shadow: none;
            background: transparent;
            >li {
                border: none;
            }
        }
    }
}

.navbar-default .navbar-nav>.active>a {
    background-color: #ca1c00;
    color: white;
}

// Menu icons/bg
.dropdown-menu>li:after {
    content: "";
    display: block;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.025;
    position: absolute;
    top: 0;
    left: 55%;
    width: 50%;
    height: 100%;
    pointer-events: none;
}
.icon-cogs:after     { background-image: url('../icons/cogs.svg'); }
.icon-people:after   { background-image: url('../icons/people.svg'); }
.icon-list:after     { background-image: url('../icons/terms.svg'); }
.icon-eye:after      { background-image: url('../icons/vision.svg'); }
.icon-search:after   { background-image: url('../icons/search.svg'); }
.icon-question:after { background-image: url('../icons/question.svg'); }
.icon-disc:after     { background-image: url('../icons/disc.svg'); }

// Sets dynamic width of megamenu items 
/*@max-menuitems: 8;
.for-loop (@index) when (@index > 0) {
    .dropdown-menu>li:first-child:nth-last-child(@{index}),
    .dropdown-menu>li:first-child:nth-last-child(@{index}) ~ li {
        width: 100% / @index;
    }

    .for-loop(@index - 1);
}
.for-loop(0) {}
.for-loop(@max-menuitems);*/

.dropdown-menu>li:first-child:nth-last-child(1),
.dropdown-menu>li:first-child:nth-last-child(1) ~ li {
    width: 100%;
    border: none;
}

.dropdown-menu>li:first-child:nth-last-child(2),
.dropdown-menu>li:first-child:nth-last-child(2) ~ li {
    width: 50%;
}

.dropdown-menu>li:first-child:nth-last-child(4),
.dropdown-menu>li:first-child:nth-last-child(4) ~ li,
.dropdown-menu>li:first-child:nth-last-child(8),
.dropdown-menu>li:first-child:nth-last-child(8) ~ li {
    width: 25%;
}

.dropdown-menu>li:first-child:nth-last-child(5),
.dropdown-menu>li:first-child:nth-last-child(5) ~ li {
    width: 20%;
}

.dropdown-menu>li:first-child:nth-last-child(3),
.dropdown-menu>li:first-child:nth-last-child(3) ~ li,
.dropdown-menu>li:first-child:nth-last-child(6),
.dropdown-menu>li:first-child:nth-last-child(6) ~ li,
.dropdown-menu>li:first-child:nth-last-child(9),
.dropdown-menu>li:first-child:nth-last-child(9) ~ li {
    width: 33.3%;
}

.dropdown-menu>li:first-child:nth-last-child(2) ~ li:nth-child(2n),
.dropdown-menu>li:first-child:nth-last-child(3) ~ li:nth-child(3n),
.dropdown-menu>li:first-child:nth-last-child(4) ~ li:nth-child(4n),
.dropdown-menu>li:first-child:nth-last-child(5) ~ li:nth-child(5n),
.dropdown-menu>li:first-child:nth-last-child(6) ~ li:nth-child(3n),
.dropdown-menu>li:first-child:nth-last-child(8) ~ li:nth-child(4n),
.dropdown-menu>li:first-child:nth-last-child(9) ~ li:nth-child(3n) {
    border-right: none;
}

.dropdown-menu>.dropdown>.menu-container>.dropdown-menu>li {
    width: 100%;
    min-height: initial;
    a {
        padding-left: 15px;
    }
}

.dropdown-menu>li:first-child:nth-last-child(4) ~ li:after {
    background-size: 200%;
    left: 50%;
    width: 50%;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { 
    /*max-width: @container-desktop;*/
    margin: 0 auto;
    .row { margin: 0; }
    .child-pages {
        background-color: @gray-lighter; padding: 15px; overflow: hidden; margin-top: 30px;
        li {
            list-style: none; padding: 0; float: left; width: 100%; margin: 5px 0;
            p {
                margin: 0; line-height: 14px;
            }
        }
    }
}

.home {
    .search-form {
        margin: 20px 0;
        button.search-submit {
            &:focus {
                z-index: 1;
            }
        }
    }
}

#home-cta-container {
    margin-top: 20px;
    >.row {
        margin: 0 -15px;
    }
}

.home-cta {
    float: left;
    margin-bottom: 20px;
    a {
        .cta-inner {
            background-color: #eee;
            -webkit-transition: background-color 0.3s;
            padding: 10px;
            div {
                text-align: justify;
                font-weight: 400;
                text-decoration: none;
                color: #000;
            }
            img {
                margin-top: 10px;
                width: 100%;
            }
            h2 {
                text-align: center;
                color: #ca1c00;
                margin: 0 0 10px;
                font-size: 30px;
            }
        }
    }
    :hover {
        text-decoration: none;
        .cta-inner {
            background-color: #ddd;
        }
    }
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.page .main, .single .main, .search .main, .error404 .main {
    max-width: 976px;
    margin: 0 auto;
    float: none;
}

.home .main {
    padding: 0;
    /*    max-width: none;
        margin: 0;
        float: left;*/
}

#breadcrumbs {
    font-size: 0.9em;
    .current {
        font-weight: bold;
    }
}

.main {
    a { font-weight: bold; }

    .boxout {
        /*background-color: @gray-lighter;*/
        padding: 15px 0;
        margin: 20px 0 0;
        h2,h3,h4 { margin: 0 0 10px; }
        h3 {
            border-bottom: 1px solid;
            padding-bottom: 5px;
        }
        a {
            h4 {
                color: @ppo-red;
            }
        }
        ul {
            margin-bottom: 0; list-style: none; padding: 0;
            li {
            }
        }
    }

    /* Home page */
    #home-content-container {
        padding: 0;
        overflow: visible;
        .col-md-6:first-of-type {
            /*padding-left: 0;*/
        }
        .col-md-6:last-of-type {
            /*padding-right: 0;*/
        }
    }
    #latest-news {
        overflow: hidden;
        ul { 
            li {
                margin: 5px 0;
                padding-bottom: 10px;
                overflow: hidden;
                .attachment-home-news-thumb {
                    float: right;
                    margin-left: 20px;
                    -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.25);
                    -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.25);
                    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.25);
                }
                .news-details {
                    display: table-cell;
                    margin-bottom: 15px;
                }
            }
        }
    }

    #latest-publications {
        ul {
            li {
                padding: 8px 0;
                font-size: 1.1em;
                i.fa {
                    margin: 2px 10px 0 3px;
                    float: left;
                }
                a {
                    display: table;
                }
            }
        }
    }

    a #anon-count-container {
        background-color: #b00c00;
        color: #fff;
        margin-top: 10px;
        overflow: hidden;
        font-weight: normal;
        #anon-count-text {
            float: left;
            padding: 5px 10px;
            line-height: 23px;
        }
        #anon-count {
            float: right;
            font-size: 32px;
            color: #b00c00;
            background-color: white;
            padding: 5px 20px;
            border: 1px solid #b00c00;
        }
        &:hover #anon-count-text {
            text-decoration: underline;
        }
    }

    #ppo-info, #quick-links {
        ul { 
            margin-bottom: 0; list-style: none; padding: 0;
            li { margin: 5px 0; }
        }
    }
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

/* Site Map */
.wsp-pages-list {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    li {
        padding-bottom: 5px;
        list-style: none;
        > ul {
            padding-left: 15px;
            > li {
                list-style: none;
                :before {
                    content: "- ";
                }
                a {
                    font-weight: normal;
                }
            }
        }
    }
}

/* FAQ Accordions */
#faq-accordion {
    h5 {
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
}

/* Filelist */
section.filelist {
    header {
        margin-bottom: 10px;
    }
    ul {
        padding: 0; margin: 0;
        li {
            list-style: none;;
        }
    }
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
    .widget_ppo_related_docs, .widget_ppo_quick_links {
        list-style: none;
    }
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

/* ==========================================================================
   Footer
   ========================================================================== */

.tile-container {
    clear: both;
    margin-top: 100px;
    article {
        float: left;
        margin: 10px;
        /*border: 10px solid #eee;*/
        /*border-right: 5px solid #eee;*/
        width: 255px;
        font-family: tahoma;
        .tile-image {
            float: left;
            img {
                width: 159px;
                height: 224px;
            }
        }
        h3 {
            margin: 0;
            font-size: 13px;
            line-height: 18px;
            color: #444;
            font-family: tahoma;
            font-weight: bold;
            -ms-word-break: break-all;
            word-break: break-all;

            /* Non standard for webkit */
            word-break: break-word;

            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
        }
        .tile-details {
            width: 96px;
            height: 224px;
            float: left;
            background-color: #eee;
            padding: 5px;
            /*padding: 4px 4px 4px 9px;*/
            /*letter-spacing: -1px;*/
            position: relative;
            /*text-align: right;*/
            h4 {
                padding: 5px 0;
                font-size: 11px;
                color: #888;
                font-family: tahoma;
            }
            .tile-size {
                font-size: 10px;
                font-weight: bold;
                color: #aaa;
            }
            .tile-social {
                position: absolute;
                bottom: 0;
                right: 14px;
                a {
                    img {
                        height: 48px;
                        opacity: 0.4;
                        -webkit-transition: opacity 150ms ease-out 0.1s;
                        -moz-transition: opacity 150ms ease-out 0.1s;
                        -o-transition: opacity 150ms ease-out 0.1s;
                        transition: opacity 150ms ease-out 0.1s;
                        &:hover {
                            opacity: 0.9
                        }
                    }
                }
            }
            table {
                font-size: 12px;
                font-weight: normal;
                color: #000;
                width: 100%;
                tr {
                    padding: 1px 0;
                }
            }
            transition: position 0.1s ease;
        }
        &.fii-report {
            h3 {
                width: 100%;
                padding: 12px 12px 2px;
                background-color: #eee;
                color: #831200;
                font-size: 22px;
                min-height: 50px;
            }
            .tile-details {
                width: 100%;
                height: 125px;
                padding: 5px 10px;
            }
        }
    }
    a:hover {
        text-decoration: none;
    }
}

.last-seven-days .tile-container {
    margin-top: 0;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { 
    padding: 0; background-color: @ppo-dark; font-size: @font-size-small; margin-top: 25px;
    a {
        color: white;
    }
    a:hover {
        color: white;
    }
    .row {
        margin: 0 auto;
        /*max-width: @container-desktop;*/
    }
}

#menu-footer-navigation {
    text-align: center;
    >li {
        float: none;
        display: inline-block;
    }
}

/* ==========================================================================
   Sort/Filter controls
   ========================================================================== */
#sort-filter {
    position: absolute;
    left: 0;
    width: 100%;
    margin: -20px -15px;
    box-sizing: content-box;
    background: #ddd;
    z-index: 100;
    top: -80px;
    height: 110px;
    .group-label {
        transform: rotate(-90deg);
        transform-origin: left bottom 0;
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 70px;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #831200;
        color: white;
    }
}
.sorts, .filters {
    display: inline-block;
    margin: 20px;
    position: relative;
}
.sort-control {
    background-color: #eee;
    padding: 24px 35px 24px 20px;
    float: left;
    cursor: pointer;
    &.asc:after {
        content: "\25B2";
        margin-left: 5px;
        position: absolute;
    }
    &.desc:after {
        content: "\25BC";
        margin-left: 5px;
        position: absolute;
    }
}

.sorts {
    float: right;
}

.filters {
    height: 70px;
}

.filter-control {
    background-color: #eee;
    display: block;
    float: left;
    .filter-header {        
        font-weight: bold;
        float: left;
        padding: 15px;
        display: inline-block;
        cursor: pointer;
        .filter-current {
            font-size: 12px;
            text-align: center;
            color: @ppo-dark;
            border-top: 1px solid #ccc;
        }
    }
    .filter-options {
        padding: 10px 15px;
        background-color: #fff;
        border: 1px solid #eee;
        display: none;
        position: absolute;
        top: 75px;
        .filter-option {
            display: inline-block;
            margin: 0 5px;
            padding: 5px;
            cursor: pointer;
            color: #bbb;
            &.on {
                color: black;
            }
            input {
                border: 0;
                padding: 0;
                margin: 0;
            }
        }
        .ui-autocomplete-input {
            line-height: 24px;
        }
        .ac-reset {
            display: inline-block;
            padding: 5px 5px 5px 20px;
            color: #bbb ;
            cursor: pointer;
            &:hover {
                color: #000;
            }
        }
    }
}

.live-results {
    overflow: hidden;
    min-height: 600px;
}

#loading-spinner {
    position: fixed;
    bottom: 37px;
    width: 100%;
    text-align: center;
    padding: 10px;
    z-index: 100;
    display: none;
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { 
    /*.banner {position: relative; top: auto; }*/
    .wsp-pages-list {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
    .content {
        .child-pages {
            ul { padding: 0; }
            li { width: 50%;}
        }
    }
    .navbar-nav {
        /*width: @container-desktop;*/
        margin: 0 auto;
        >li>a {
            text-align: center;
            width: 90%;
            margin: 0 auto;
            min-height: 70px;
        }
    }
    .nav-container {
        position: fixed; top: 0; width: 100%;
    }
    .banner a.brand {
        width: 15%;
    }
    #menu-footer-navigation {
        text-align: left;
        >li {
            float: left;
            display: block;
        }
    }
    .sidebar {
        margin-top: 20px;
    }

    #sort-filter {
        top: 0;
    }
}

@media (min-width: @screen-md-min) {
}

@media (min-width: @screen-lg-min) { 
}