img {
    -ms-interpolation-mode: bicubic;
}

#mp-pusher {
    display: none;
}

.navbar-nav>li {
    width: 19.9%;
}

.navbar-nav>li>a {
    min-height: 40px;
    width: 100%;
    padding: 15px 0;
}

.banner a.brand img {
    max-height: 50px;
}