img {
    -ms-interpolation-mode: bicubic;
}

#mp-pusher {
    display: none;
}

div.wrap {
    margin-top: 30px;
}

.navbar-nav>li {
    width: 19.9%;
}

.navbar-nav>li>a {
    min-height: 40px;
    width: 100%;
    padding: 15px 0;
}

.banner a.brand img {
    max-height: 50px;
}

.document-type-text p {
    width: 100% !important;
}